RewriteEngine On
Options -Indexes

# Redirigir URLs limpias hacia index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9ñÑ_-]+)/?$ index.php?view=$1 [QSA,L]